
<body>

    <div id="wrapper">


        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                            <strong>ADMIN DASHBOARD</strong>
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row text-center pad-top">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="/catalog/danhsachlaptop_admin">
                                <i class="fa fa-circle-o-notch fa-5x"></i>
                                <h4>Liệt kê laptop</h4>
                            </a>
                        </div>


                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="/catalog/danhsachnsx_admin">
                                <i class="fa fa-envelope-o fa-5x"></i>
                                <h4>Liệt kê nhà sản xuất</h4>
                            </a>
                        </div>


                    </div>

                     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="/catalog/themlaptopform">
                                <i class="fa fa-clipboard fa-5x"></i>
                                <h4>Thêm laptop</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                              <a href="/catalog/themnsxform">
                                <i class="fa fa-gear fa-5x"></i>
                                <h4>Thêm nhà sản xuất</h4>
                            </a>
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row text-center pad-top">


                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="/catalog/removelaptopform">
                                <i class="fa fa-envelope-o fa-5x"></i>
                                <h4>Xóa laptop</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="/catalog/removensxform">
                                <i class="fa fa-lightbulb-o fa-5x"></i>
                                <h4>Xóa nhà sản xuất</h4>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="/catalog/updatelaptopform">
                                <i class="fa fa-rocket fa-5x"></i>
                                <h4>Sửa dữ liệu laptop</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="/catalog/updatensxform">
                                <i class="fa fa-clipboard fa-5x"></i>
                                <h4>Sửa dữ liệu nhà sản xuất</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>

    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/javascripts/custom.js"></script>


</body>

</html>