<style>
    .container1 {
        padding: 50px;
    }

    /* Full-width input fields */

    input[type=text] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    button:hover {
        opacity: 1;
    }

    .btnupdate {
        width: 150px;


    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 50%;
    }


    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
</style>
<h4 style="margin-left: 100px; margin-top: 40px">
    <a href="/catalog/admin">Trang chủ Admin</a>
</h4>
<form class="modal-content" action="/catalog/addnsx">
    <div class="container1">
        <div class="row">
            <h1>Thêm Nhà Sản Xuất</h1> <br>
            <div style="color: rgb(0, 202, 0)">
                    <span>{{thongbao}}</span>
                </div>
        </div>
        <hr>
        <label>
            <b>Nhà sản xuất</b>
        </label>
        <input type="text" placeholder="Nhập nhà sản xuất" name="nsx" required>
        <label>
            <b>Trung tâm bảo hành</b>
        </label>
        <input type="text" placeholder="Nhập trung tâm bảo hành" name="ttbh" required>

        <div class="text-center">
            <button type="submit" class="btnupdate">Thêm</button>
        </div>
    </div>
</form>
